@font-face {
    font-family: "Brandon Grotesque Bold";
    src: url('./assets/fonts/BRANDON_BLD.otf') format('opentype');
}

@font-face {
    font-family: "Brandon Grotesque Black";
    src: url('./assets/fonts/BRANDON_BLK.otf') format('opentype');
}

@font-face {
    font-family: "Brandon Grotesque Light";
    src: url('./assets/fonts/BRANDON_LIGHT.otf') format('opentype');
}

@font-face {
    font-family: "Brandon Grotesque Medium";
    src: url('./assets/fonts/BRANDON_MED.otf') format('opentype');
}

@font-face {
    font-family: "Brandon Grotesque Regular";
    src: url('./assets/fonts/BRANDON_REG.otf') format('opentype');
}

/* Font classes, one for each font */
.font-bold {
    font-family: "Brandon Grotesque Bold", serif;
}

.font-black {
    font-family: "Brandon Grotesque Black", serif;
}

.font-light {
    font-family: "Brandon Grotesque Light", serif;
}

.font-medium {
    font-family: "Brandon Grotesque Medium", serif;
}

.font-regular {
    font-family: "Brandon Grotesque Regular", serif;
}

* {
    /* Style variables */
    --blue: #009DDB;
    --blue-accent: #0685C1;
    --orange: #FAA61A;
    --orange-accent: #E58C1B;
    --dark-gray: #393C3E;
    --gray: #D1D1D1;
    --light-gray: #EBEBEB;
    --white: #ffffff;

    /* So padding doesn't cause overflow */
    box-sizing: border-box;
}

/* Font size for rem */
html {
    font-size: 10px;
}

/* Removing default properties | START */

body, h1 {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

/* Removing default properties | END */

/* For company guidelines */
.logo {
    margin: 0.5rem
}


/* HEADER | START */

.header-name,
.header-title,
.header-title-container,
.title-logo-container,
.title-text-container {
    display: flex;
    align-items: center;
}

.header-name,
.header-title {
    width: 100%;
    color: var(--white);
}

.header-title {
    height: 12rem;
    padding-left: 5rem;
    background-color: var(--dark-gray);
}

.header-name {
    padding: 0.1rem 0 0.1rem 5rem;
    background-color: var(--blue);
}

.header-name-text {
    margin: 1rem 0;
}

.header-title-container,
.title-logo-container,
.title-text-container {
    justify-content: space-between;
}

.header-title-container {
    width: 38rem;
}

.header-title-logo {
    height: 5rem;

    /* Overriding margin-left set to .logo class since there's already space to left of logo */
    margin-left: 0;
}

.header-title-text {
    font-size: 2.75rem;
    white-space: nowrap;
    letter-spacing: 0.3ch;
}

@media all and (max-width: 500px){
    .header-name {
        padding: 1.5rem 0 1.5rem 4rem;
    }

    .header-title {
        height: 20rem;
        padding-left: 0;
        justify-content: center;
    }

    .header-title-container {
        height: 10.5rem;
        flex-direction: column;
    }
}

/* HEADER | END */


/* MAIN | START */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 6rem 6rem 0;
}

/* video-section | start */

.video-section,
.wrapper,
.video-interactions-container,
.interactions-likes-container,
.video-selection-container,
.like-count-container
{
    display: flex;
}

.video-section,
.video-container,
.video-current {
    width: 100%;
}

.video-section {
    max-width: 130rem;
}

.wrapper,
.video-selection-container {
    flex-direction: column;
}

.left-wrapper {
    flex: 3.75;
}

.right-wrapper {
    flex: 1.25;
}

.video-title,
.video-views {
    color: var(--dark-gray);
}

.video-title {
    font-size: 2.5rem;
    margin: 1.5rem 0;
}

.video-interactions-container,
.interactions-likes-container,
.video-selection-container {
    justify-content: space-between;
}

.interactions-likes-container {
    width: 9rem;
    color: var(--orange);
}

.video-interactions-container {
    padding: 1.75rem 0;
    border-bottom: 2px solid var(--light-gray);
}

.video-views, .num-likes {
    font-size: 2rem;
}

.like-count-container {
    align-items: center;
}

.thumb-btn {
    background: transparent;
    padding: 0;
}

.thumb-icon {
    transition: all ease 50ms;
}

.thumb-icon:hover * {
    fill: var(--blue-accent);
}

@keyframes like-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-20deg);
    }
}

.num-likes {
    margin-left: 0.5rem;
}

.video-selection-container {
    height: 100%;
    margin: 6.6rem 0 6.9rem 3rem;
}

.video-btn {
    transition: all ease-in 75ms;
    height: 27.25%;
    width: 92%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.video-btn:hover,
.selected-video {
    box-shadow: inset 0 0 0 0.5rem var(--orange);
}

#ces-overview-btn {
    background-image: url("./assets/images/ces_overview.jpeg");
}

#who-is-24g-btn {
    background-image: url("./assets/images/who_is_24g.jpeg");
}

#future-of-drones-btn {
    background-image: url("./assets/images/future_of_drones.jpeg");
}

@media all and (max-width: 950px) {
    .video-selection-container,
    .wrapper {
        width: 100%;
    }

    .video-selection-container {
        flex-direction: row;
        margin: 0;
        height: 12.5vw;
    }

    .video-section {
        flex-direction: column;
    }

    .right-wrapper {
        padding: 3rem 1.75rem;
    }

    .video-btn {
        height: 100%;
        width: 30%;
    }
}

/* video-section | end */

/* comments-section | start */

.comments-section,
.comments-container,
.comments-input-container,
.single-comment-container,
.comment-name-time-container {
    display: flex;
}

.comments-section,
.comments-container,
.comments-input-container,
.comment-content-container {
    flex-direction: column;
}

.comments-section {
    max-width: 130rem;
    width: 100%;
    padding: 2rem 25% 2rem 0;
}

.comment-label,
.comment-input,
.comment-add-btn,
.comment-name,
.comment-time,
.comment {
    font-size: 2rem;
}

.comment-label,
.comment-input,
.comment-name,
.comment {
    color: var(--dark-gray);
}

.comment-input {
    height: 8rem;
    margin: 1.25rem 0;
    padding: 0 1.5rem 3rem 1.5rem;
    border: solid 1px var(--gray);
}

.comment-add-btn {
    height: 4.5rem;
    width: 22rem;
    margin: 1rem 0;
    color: var(--white);
    letter-spacing: 0.1ch;
    background-color: var(--orange);
    transition: background-color ease 50ms;
}

.comment-add-btn:hover {
    background-color: var(--orange-accent);
}

.single-comment-container {
    margin: 1rem 0;
}

.profile-picture {
    height: 8rem;
    width: 8rem;
    margin-right: 1.25rem;
    background-image: url("./assets/images/placeholder_avatar.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.comment-content-container {
    width: 57.5vw;
}

.comment {
    margin: 0;
}

.comment-name-time-container {
    width: 100%;
}

.comment-name {
    margin-right: 1rem;
}

.comment-time {
    color: var(--gray);
}

@media all and (max-width: 950px) {
    .comments-section {
        padding: 0;
    }

    .comment-content-container {
        width: 77.5vw;
    }
}

@media all and (max-width: 500px) {
    .comments-container {
        margin: 1.5rem 0;
    }

    .comment-name-time-container {
        flex-direction: column;
    }
}

@media all and (min-width: 1420px) {
    .comments-section {
        padding-right: 32.5rem;
    }
}

/* comments-section | end */

@media all and (max-width: 500px) {
    .main {
        padding: 4rem 3rem 0 3rem;
    }
}

/* MAIN | END */

/* FOOTER | START */

.footer,
.footer-logo-container {
    display: flex;
}

.footer {
    justify-content: center;
    height: 8rem;
    width: 100%;
}

.footer-logo-container {
    align-items: center;
}

.footer-logo {
    width: 15rem;
}

/* FOOTER | END */